## all liberyies
### 1. ast  2.CountVectorizer 3. pandas 4. numpy
#### basically i tried to build simple model which recommande movies related to our corrunt movie

In [ ]:
import numpy as np
import pandas as pd

## import data

In [2]:
movies = pd.read_csv("tmdb_5000_movies.csv")
credit = pd.read_csv("tmdb_5000_credits.csv")
credit.count()

movie_id    4803
title       4803
cast        4803
crew        4803
dtype: int64

## Data cleaning

In [3]:
movies =  movies.merge(credit,on='title')
movies.count()
#movies.drop(['cast_x','cast_y','crew_x','crew_y'],axis=1,inplace=True)

budget                  4809
genres                  4809
homepage                1713
id                      4809
keywords                4809
original_language       4809
original_title          4809
overview                4806
popularity              4809
production_companies    4809
production_countries    4809
release_date            4808
revenue                 4809
runtime                 4807
spoken_languages        4809
status                  4809
tagline                 3965
title                   4809
vote_average            4809
vote_count              4809
movie_id                4809
cast                    4809
crew                    4809
dtype: int64

In [4]:
# we want genres,id,title,overview,cast_x,crew_x,
data = movies[['id','title','genres','overview','cast','crew']]
data.head()

,id,title,genres,overview,cast,crew
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",A cryptic message from Bond’s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

## clean some column's data
### ex find particullar value and list them

In [5]:
#now filter every column
#movies.cast_x[0]
#we want only name from cast_x
import ast
def name(obj):
    L=[]
    count = 0
    for i in ast.literal_eval(obj):
        if count<3:
            L.append(i['name'])
        count+=1
    return L

data['cast'] = data['cast'].apply(name)

<ipython-input-5-600efd76024b>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['cast'] = data['cast'].apply(name)

In [6]:
#same function apply for genres
data['genres'] = data['genres'].apply(name)

<ipython-input-6-eb392658691a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['genres'] = data['genres'].apply(name)

In [7]:
#same function but same change for crew
def director(obj):
    l = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            l.append(i['name'])
    return l # we have to return in for loop

In [8]:
data['crew'] = data['crew'].apply(director)

<ipython-input-8-7e9f9cb27b6d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['crew'] = data['crew'].apply(director)

In [9]:
df  = data # due to some errors we do this
df.head(2)

,id,title,genres,overview,cast,crew
0,19995,Avatar,"[Action, Adventure, Fantasy]","In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","Captain Barbossa, long believed to be dead, ha...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]

In [10]:
df = df[df['overview'].notnull()] # othervise it shoe the erroe that float has not split funtion
df['overview'] = df['overview'].apply(lambda x : x.split()) # it convert string or float to list

<ipython-input-10-bcc826f3c133>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['overview'] = df['overview'].apply(lambda x : x.split()) # it convert string or float to list

In [11]:
df['overview']

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bond’s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4804    [El, Mariachi, just, wants, to, play, his, gui...
4805    [A, newlywed, couple's, honeymoon, is, upended...
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Ever, since, the, second, grade, when, he, fi...
Name: overview, Length: 4806, dtype: object

## remove spaces

In [12]:
# now we havet to remove dpaces which are present in cast crew and genres
def remove_space(text):
    L1=[]
    for i in text:
        L1.append(i.replace(" ",""))
    return L1

In [13]:
#df['cast'].replace(" ","") we can't use this cause it take all list not a word it would use in column name

In [14]:
df['genres'] = df['genres'].apply(remove_space)
df['cast'] = df['cast'].apply(remove_space)
df['crew'] = df['crew'].apply(remove_space)

<ipython-input-14-071413374a4d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['genres'] = df['genres'].apply(remove_space)
<ipython-input-14-071413374a4d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cast'] = df['cast'].apply(remove_space)
<ipython-input-14-071413374a4d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['crew'] = df['crew'].apply(remove_space)

In [15]:
df['tag'] = df['overview']+df['genres']+df['cast']+df['crew']
df['tag'] = df['tag'].apply(lambda x: " ".join(x)) # list to string
df['tag'][0]

<ipython-input-15-0c8826de355d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tag'] = df['overview']+df['genres']+df['cast']+df['crew']
<ipython-input-15-0c8826de355d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tag'] = df['tag'].apply(lambda x: " ".join(x))

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [16]:
df = df.drop(['genres','overview','cast','crew'],axis=1)

In [17]:
df['tag'].replace(""," ")

0       In the 22nd century, a paraplegic Marine is di...
1       Captain Barbossa, long believed to be dead, ha...
2       A cryptic message from Bond’s past sends him o...
3       Following the death of District Attorney Harve...
4       John Carter is a war-weary, former military ca...
                              ...
4804    El Mariachi just wants to play his guitar and ...
4805    A newlywed couple's honeymoon is upended by th...
4806    "Signed, Sealed, Delivered" introduces a dedic...
4807    When ambitious New York attorney Sam is sent t...
4808    Ever since the second grade when he first saw ...
Name: tag, Length: 4806, dtype: object

## for similarity we add countvectorizer and make vectors

In [18]:
from sklearn.feature_extraction.text  import CountVectorizer
cv = CountVectorizer(max_features=4000,stop_words='english')

In [19]:
vector = cv.fit_transform(df['tag']).toarray()

In [20]:
vector.shape

(4806, 4000)

In [21]:
#li = df['tag'].apply(lambda x:x.split()) # for dtring to llist
#li.apply(lambda x:" ".join(x)) # for list to string

## find similarity

In [22]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)

In [23]:
# now we have to build a function
#  1 we have to collect movie's id so
df[df['title']=='Batman'].index[0]  # do from this code we get index no 
# 2 we want 5 or 4 similar movies foe that
list(sorted(enumerate(similarity[0]),reverse=True,key= lambda x: x[1]))[1:6] # enumaret use for hold index value while sorting

[(151, 0.29250896965085227),
 (1444, 0.29250896965085227),
 (4010, 0.25928148942086576),
 (942, 0.2475368857441686),
 (3730, 0.24253562503633294)]

In [24]:
def similar(movie):
    index_value = df[df['title']==movie].index[0]
    similar_movies = sorted(list(enumerate(similarity[index_value])),reverse=True,key= lambda x: x[1])
    for i in similar_movies[1:6]:
        print(df.iloc[i[0]].title)

In [25]:
df['title'][942]

'The Book of Life'

## finally model is ready

In [26]:
similar('Batman')

Batman
The Dark Knight Rises
Batman & Robin
Batman Forever
Batman Begins

## create pickle files

In [27]:
import pickle

In [28]:
pickle.dump(df,open('movies.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))